body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    margin: 0;
    padding: 0;
    color: white; /* Set all text color to white */
}

h1 {
    color: white; /* Override h1 text color */
    text-align: center;
}

p {
    color: white; /* Override paragraph text color */
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Center the video location */
iframe {
    display: block;
    margin: 0 auto;
}

